.menu_card{
  border: 1px solid #000;
  width: 90%;
  height: 400px;
margin: auto;
text-align: center;
}
.menu_image_box{
  border: 1px solid #000;
  border-radius: 10px;
  width: 90%;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  overflow: hidden; /* 넘치는 부분을 숨김 */
  
}
.menu_image_box img{
  width: auto; /* 이미지의 너비를 부모 요소에 맞게 조정 */
  height: auto; /* 이미지의 높이를 자동으로 조정하여 가로세로 비율 유지 */
}
.whole_menu{

}
.is_sold_out{
  color: red;
  margin-bottom: 0px;
}
.sold_out_time{
  margin-top: 0px;
  font-size: 12px;
}
.recent_sold_out{
  
}
.hidden{
  /* display: none; */
}