.menu_card{
  border: 1px solid #000;
  width: 90%;
  height: 400px;
margin: auto;
text-align: center;
}
.menu_image_box{
  border: 1px solid #000;
  border-radius: 10px;
  width: 90%;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  
}
.whole_menu{

}
.is_sold_out{
  color: red;
  margin-bottom: 0px;
}
.sold_out_time{
  margin-top: 0px;
  font-size: 12px;
}
.recent_sold_out{
  
}
.hidden{
  /* display: none; */
}